.title{
    /*background-color: #C4AA9D;*/
    text-align: center;
    font-size: 0.85rem;
    border-style: solid;
    box-shadow: 5px -5px black;
    margin-left: 75px;
    margin-right: 75px;
}

.name{
    background-color: #C4AA9D;
    font-size: 0.65rem;
    border-style: solid;
    border-radius: 0.2rem;
    margin-bottom: 0.1rem;
    margin-right: 216px;
}

.job{
    background-color: #C4AA9D;
    font-size: 0.65rem;
    border-style: solid;
    border-radius: 0.2rem;
    margin-top: 0.1rem;
    margin-right: 216px;
}

.mail{
    background-color: #C4AA9D;
    font-size: 0.65rem;
    border-style: solid;
    border-color: black;
    border-radius: 0.2rem;
    margin-top: 0.1rem;
    color: black;
}

.tel{
    background-color: #C4AA9D;
    font-size: 0.65rem;
    border-style: solid;
    border-color: black;
    border-radius: 0.2rem;
    margin-bottom: 0.1rem;
    color: black;
}

address{
    text-align: right;
    margin-bottom: 0.1rem;
}

body{
    font-size: 16px;
    background-color: #E89C82;
    width: 85mm;
    height: 55mm;
    border-style: solid;
    border-radius: 0.2rem;
}

img {
    width: 150px;
    height: 75px;
    border-style: solid;
    border-radius: 1rem;
}

.img{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}